<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lime.Messaging" version="0.7.197" targetFramework="net461" />
  <package id="Lime.Protocol" version="0.7.197" targetFramework="net461" />
  <package id="Lime.Protocol.Serialization" version="0.7.197" targetFramework="net461" />
  <package id="Lime.Transport.Tcp" version="0.7.197" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="Takenet.Iris.Messaging" version="1.0.2" targetFramework="net461" />
  <package id="Takenet.MessagingHub.Client" version="0.4.66" targetFramework="net461" />
  <package id="Takenet.MessagingHub.Client.Host" version="0.4.178" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
</packages>